<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarCode" version="4.0.2.2" targetFramework="net471" />
  <package id="CsvTextFieldParser" version="1.2.1" targetFramework="net471" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package id="HelperSharp" version="0.0.4.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="RestSharp" version="106.10.1" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net461" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net471" />
  <package id="Zen.Barcode.Rendering.Framework.Web" version="3.1.10729.1" targetFramework="net471" />
</packages>