<!DOCTYPE html>
<html>
<body>

    <form action="/RCR/ShortForm/" method="post">
        <input type="text" name="source" value="2" /><br />
        First Name: <input type="text" name="fname" value="Patrick" /><br />
        Last Name: <input type="text" name="lname" value="Dudley" /><br />
        Email Address: <input type="text" name="email" value="eurohl@msn.com" /><br />
        <input type="submit" name="Test Short Form" value="Button" id="RCRSF_btn" />
    </form>

    <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>